.ground {
  position: absolute;
  width: 3840px;
  height: 256px;
  top: 384px;
  left: -128px;
  background: url(images/map.png);
  z-index: -1;
}

.pinkie {
  position: absolute;
  width: 140px;
  height: 126px;
  top: 276px;
  left: 64px;
  background: url(images/pie-dash.gif);
}

.coin {
  position: absolute;
  width: 128px;
  height: 128px;
  left: -512px;
  background: url(images/coin.gif);
}